#ltsub{
    margin-left:100px;
}

body{
    background-color: aqua;
    /*
    background-image: url("https://t4.ftcdn.net/jpg/05/42/01/29/360_F_542012978_0XZGMDDeJeMRM36zv2FKnSRlqCqunvV5.jpg");
    background-size:  1000px;
    */
}